<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome, <%= user.fullName %> </h1>

    <h2>Students</h2>
    <table border="1px">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>HSC Percentage</th>
                <th>Email</th>
                <th>File</th>
                <th>Review status</th>
<<<<<<< HEAD
                <th>Reviewed By</th>
=======
>>>>>>> 20b4617010d28d388a8aff92db708bf6b65610de
            </tr>
        </thead>
        <tbody>
            <% students.forEach((student) => { %>
                <tr>
                    <td><%= student.fullName %></td>
                    <td><%= student.username %></td>
                    <td><%= student.hscPercentage %></td>
                    <td><%= student.email %></td>
                    <td><a href="/students/download/<%= student._id %>">Download</a></td>
                    <td><%= student.status %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <h2>Managers</h2>
    <ul>
        <% managers.forEach((manager) => { %>
            <li><%= manager.fullName %></li>
        <% }) %>
    </ul>

</body>
</html>