<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin Dashboard</title>
</head>
<body>
    <h1>Welcome, <%= user.fullName %> </h1>

    <h2>Students</h2>
    <table border="1px">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>HSC Percentage</th>
                <th>Email</th>
                <th>Phone</th>
                <th>File</th>
                <th>Review status</th>
                <th>Reviewed By</th>
            </tr>
        </thead>
        <tbody>
            <% allStudents.forEach((student) => { %>
                <tr>
                    <td><%= student.fullName %></td>
                    <td><%= student.username %></td>
                    <td><%= student.hscPercentage %></td>
                    <td><%= student.email %></td>
                    <td><%= student.phone %></td>
                    <td><a href="/students/download/<%= student._id %>">Download</a></td>
                    <td><%= student.status %></td>
                    <td><%= student.reviewedBy %></td>
                    <td><a href="/manager/edit/<%= student._id %>">Edit</a></td>
                    <td><a href="/superadmin/deleteStudent/<%= student._id %>">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    

    <h2>Managers</h2>
<table border="1px">
  <tr>
    <th>Full Name</th>
    <th>Username</th>
   
  </tr>
  <% allManagers.forEach((manager) => { %>
    <tr>
      <td><%= manager.fullName %></td>
      <td><%= manager.username %></td>
     
      <td><a href="/superadmin/editManager/<%= manager._id %>">Edit</a></td>
      <td><a href="/superadmin/deleteManager/<%= manager._id %>">Delete</a></td>
    </tr>
  <% }) %>
</table>
    <h2>Create Manager</h2>
    <form action="/superadmin/createManager" method="POST">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Create Manager">
    </form>



<h2>Admins</h2>
<table border="1px">
    <tr>
        <th>Full Name</th>
        <th>Username</th>
       
      </tr>
      <% allAdmins.forEach((admin) => { %>
        <tr>
          <td><%= admin.fullName %></td>
          <td><%= admin.username %></td>
    
          <td><a href="/superadmin/editAdmin/<%= admin._id %>">Edit</a></td>
          <td><a href="/superadmin/deleteAdmin/<%= admin._id %>">Delete</a></td>
        </tr>
      <% }) %>
</table>
<h2>Create Admin</h2>
    <form action="/superadmin/createAdmin" method="POST">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Create Admin">
    </form>


</body>
</html>